﻿@if (Request.IsAuthenticated)
{
    <text>
        <ul class="nav navbar-nav navbar-right">
            <li class="navbar-text">
                <section id="login">
                    @if (Request.IsAuthenticated)
                    {
                        <text> Hello, <span class="username">@User.Identity.Name</span>!
                        @Html.ActionLink("Signout", "SignOut", "Security")</text>
                    }
                    else
                    {
                        <text>  You are not authenticated </text>
                    }
                </section>
            </li>
        </ul>
    </text>
}
